<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Education - Abdullah Al-Rafi</title>
</head>
<body>
    <h3 style="font-family:tiempos text;">Education - Abdullah Al-Rafi</h3>
    <table>
        <tr>
            <td style="font-family:tiempos text; font-size:90%;">
                2015-2019
            </td>
            <td style="font-family:tiempos text; font-size:90%;">
                <strong>MBA</strong>
                <br>
                <em>Institute of Business Administration, University of Dhaka</em>
                <br>
                Major: Marketing
            </td>
        </tr>
        <tr>
            <td style="font-family:tiempos text; font-size:90%;">
                2011-2015
            </td>
            <td style="font-family:tiempos text; font-size:90%;">
                <strong>
                    BBA
                </strong>
                <br>
                <em>
                    North South University
                </em>
                <br>
                Major: Finance. Marketing
            </td>
        </tr>
    </table>
</body>
</html>