<!--When we are creating an HTML file, there is an HTML boilerplate code that we need to work with-->
<!--This code basically provides an outline/template for the contents of the website, so we would put stuff where they belong-->
<!--How to initialize this? In PyCharm, type html + ! + tab-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>💼 Abdullah Al-Rafi</title>
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td>
                <img src="./static/DSC_1667_1-modified.png" alt="Abdullah Al-Rafi's Photo" width="250" height="250">
            </td>
            <td>
                <h1 style="font-family:tiempos text;">
                    Abdullah Al-Rafi
                </h1>
                <p style="font-family:tiempos text; font-size:90%;">
                    <b>
                    Business Consultancy | SME Banking | Credit Risk Management
                    </b>
                </p>
                <p style="font-family:tiempos text; font-size:80%;">
                    <em>
                    Experienced professional with a sound experience in areas of Project Management,
                    Product Launch, Process Reengineering and Credit Risk Management.
                        <br>
                        Started career with <strong>IDLC Finance Limited</strong>. in their <strong>Credit Risk
                        Management Division (Small Enterprise)</strong>.
                        <br>
                        Later worked for <strong>BRAC Bank Limited</strong>, the leading SME focused bank in the
                        country, in the <strong>SME Product Team</strong>. Brought new and innovative financial
                        offerings to the market.
                        <br>
                        Currently working for <strong>Truvalu.enterprises Limited</strong>, a Netherlands-based impact
                        investment company engaged in developing SMEs through equity investment and advisory services.
                    </em>
                </p>
            </td>
        </tr>
    </table>
    <hr size="2" noshade>
    <strong><a style= "font-family:tiempos text; font-size:100%;" href="experience.html">
        Professional Experience</a></strong>
    <br>
    <strong><a style= "font-family:tiempos text; font-size:100%;" href="education.html">
        Education</a></strong>
    <br>
    <h3 style="font-family:tiempos text;">
        Skills
    </h3>
    <table>
        <tr>
            <td style="font-family:tiempos text; font-size:90%;">
                <strong>Python</strong>
            </td>
            <td style="padding-left: 50px;">
                ★★★☆☆
            </td>
            <td style="font-family:tiempos text; font-size:90%; padding-left: 50px;">
                <strong>Canva</strong>
            </td>
            <td style="padding-left: 50px;">
                ★★★☆☆
            </td>
        </tr>
        <tr>
            <td style="font-family:tiempos text; font-size:90%;">
                <strong>HTML</strong>
            </td>
            <td style="padding-left: 50px;">
                ★☆☆☆☆
            </td>
        </tr>
    </table>
    <br>
     <strong><a style= "font-family:tiempos text; font-size:100%;" href="contacts.html">
        Contact Details</a></strong>
</body>

</html>

