<!--<!DOCTYPE HTML>-->

<!--<html>-->
<!--	<head>-->
<!--		<meta charset="UTF-8">-->
<!--    	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--		<title>Login</title>-->
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
<!--	</head>-->
<!--	<body>-->
<!--        <div class="container">-->
<!--		<h1>Login</h1>-->
<!--        &lt;!&ndash; This is where our form will go. &ndash;&gt;-->
<!--			<form method="post" action="{{ url_for('login') }}" novalidate>-->
<!--				{{ form.csrf_token }}-->
<!--				<p>-->
<!--					{{ form.email.label }} <br> {{ form.email(size=30) }}-->
<!--					{% for error in form.email.errors %}-->
<!--					<span style="color: red">{{ error }}</span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				<p>-->
<!--					{{ form.password.label }} <br> {{ form.password(size=30) }}-->
<!--					{% for error in form.password.errors %}-->
<!--					<span style="color: red">{{ error }}</span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				{{ form.submit }}-->
<!--			</form>-->
<!--        </div>-->
<!--	</body>-->
<!--</html>-->

<!--#1.-->
{% extends "bootstrap/base.html" %}
<!--#2-->
{% import 'bootstrap/wtf.html' as wtf %}
<!--#3-->
{% block title %}
<title>Login</title>
{% endblock %}
<!--#4-->
{% block content %}
<div class="container">
<h1>Login</h1>
<!-- This is where our form will go. -->
    <form method="post" action="{{ url_for('login') }}" novalidate>
        {{ form.csrf_token }}
        {{ wtf.quick_form(form, novalidate=True) }}
<!--        <p>-->
<!--            {{ form.email.label }} <br> {{ form.email(size=30) }}-->
<!--            {% for error in form.email.errors %}-->
<!--            <span style="color: red">{{ error }}</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.password.label }} <br> {{ form.password(size=30) }}-->
<!--            {% for error in form.password.errors %}-->
<!--            <span style="color: red">{{ error }}</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        {{ form.submit }}-->
    </form>
</div>
{% endblock %}